{
  "root": true,
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "flowtype"
  ],
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 0
  }
}