{
  "root": true,
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "flowtype"
  ],
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "require-jsdoc": ["warn", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": false
      }
    }],
    "valid-jsdoc": ["warn", {
      "requireReturn": false,
      "prefer": {
        "return": "return"
      }
    }]
  }
}