# HTML5 Template Project
# author: Andras Csizmadia <andras@vpmedia.hu>

####################
# APP
####################

*.log
/build/js/
/temp/

####################
# IDE
####################

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

####################
# Package managers
####################

# Composer (PHP)
vendor/
composer.lock

# NPM (JS)
npm_modules/

# Node (JS)
node_modules/

# Bower (JS)
bower_components/

# Grunt (JS)
.grunt/

# Gradle (Groovy)
.gradle/
